{% extends 'dashboard/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col">
            <h3>{{ header }}</h3>
        </div>
    </div>
    <div class="row mt-2">
        <small class="text-muted">
            Ваши записи.
        </small>
    </div>
    <div class="row mt-2 border-bottom">
        <div class="list-group">
            {% for i in posts %}
            <a href="#" class="list-group-item mb-2" data-bs-toggle="modal" data-bs-target="#modalDialog{{ i['id']}}">
                {% if i['name'] == '' %}
                (Без имени)
                {% else %}
                {{ i['name'] }}
                {% endif %}
            </a>
            <div class="modal fade" id="modalDialog{{ i['id']}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="modalDialog{{ i['id']}}Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalDialog{{ i['id']}}Label">
                                Запись: <b>{{ i['id']}}</b>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container m-0 p-0">
                                <div class="row">
                                    <div class="col-md mb-3">
                                        Название:
                                    </div>
                                    <div class="col-md">
                                        {% if i['name']== '' %}
                                        <p title="Запись не имеет названия">Нет</p>
                                        {% else %}
                                        {{ i['name']}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md">
                                        Дата создания:
                                    </div>
                                    <div class="col-md">
                                        {{ i['date'] }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md">
                                        Студенты
                                    </div>
                                    <div class="col-md">
                                        <ol class="list-group">
                                            {% for j in i['archive'] %}
                                            <li
                                                class="list-group-item
                                                    {{ 'list-group-item-success' if j.attended else 'list-group-item-danger'}}">
                                                {{ j.student.name }}

                                                <div>
                                                    {% if not j.attended %}
                                                    <small>Комментарий: {{ j.comment }}</small>
                                                    {% endif %}
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}