{% from 'dashboard/macroses.html' import menu_item, header_name with context %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>{% block title %}{% endblock %} &#183; Электронный журнал</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ url_for('home.index') }}">
            Журнал посещаемости
        </a>
        <div class="d-flex">
            <a class="nav-link text-dark" href="{{ url_for('profile.logout') }}">Выйти</a>
        </div>
    </div>
</nav>
<div class="nav-scroller bg-light border-top border-bottom">
    <nav aria-label="Secondary navigation" class="nav container nav-underline">
        {{ menu_item('.group', 'Моя группа') }}
        {{ menu_item('.create_post', 'Создать') }}
        {{ menu_item('.settings', 'Настройки') }}
        {% if user.role == 2 %}
        {{ menu_item('.verify', 'Верификация') }}
        {% endif %}
        <a class="nav-link" data-bs-target="#userReport" data-bs-toggle="modal" href="#">Отчет</a>
    </nav>
</div>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
        {{ message }}
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% block content %}{% endblock %}

<div aria-hidden="true" aria-labelledby="userReportLabel" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="userReport" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userReportLabel">Сформировать отчет</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Выберите, за какой период вы хотите сформировать отчет.</p>
                <form action="{{ url_for('.report') }}" method="post">
                    <div class="input-group input-group-sm mb-3">
                        <input class="form-control" name="doc-name" placeholder="Название документа..." type="text">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input class="form-control" name="start-date" title="Начало" type="date">
                        <input class="form-control" name="finish-date" title="Конец" type="date">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input class="btn btn-success" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</html>