{% extends 'dashboard/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container mt-4">
    {{ header_name(header) }}
    <div class="row mt-2">
        <small class="text-muted">
            Все ваши созданные документы.
        </small>
    </div>
    <div class="row mt-2">
        <a class="nav-link" data-bs-target="#userReport" data-bs-toggle="modal" href="#">Создать отчет</a>
    </div>
    <div class="row mt-2 p-2">
        <ul class="list-group ">
            {% for i in files %}
            <li class="list-group-item d-flex justify-content-between">
                <a class="text-decoration-none" href="{{ url_for('.download_file', filename=i.name) }}" download>{{
                    i.name }}</a>
                <span class="badge bg-danger">
                    <a href="{{ url_for('.delete_file', filename=i.name) }}" class="text-white">
                        <span class="material-icons">
                        delete
                    </span>
                    </a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="userReportLabel" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="userReport" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userReportLabel">Сформировать отчет</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Выберите, за какой период вы хотите сформировать отчет.</p>
                <form action="{{ url_for('.report') }}" method="post">
                    <div class="input-group input-group-sm mb-3">
                        <input class="form-control" name="start-date" required title="Начало" type="date">
                        <input class="form-control" name="finish-date" required title="Конец" type="date">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input class="btn btn-success" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}