{% extends 'dashboard/layout.html' %}
{% block title %}Студенты моей группы{% endblock %}
{% block content %}
<h6 class="border-bottom pb-2 mb-0">Моя группа</h6>
<div class="pt-3">

    {% if group_exist == false %}
    <p>Похоже, что вы еще не создали свою группу со студентам. Чтобы это сделать, просто начните вводить имена студентов своей группы.</p>
    {% else %}
    <p>Сейчас в вашей группе внесено {{ count }} студента(-тов). Вы всегда можете удалить или добавить студента в группе.</p>
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col mt-2">
            <form id="students-form" action="{{ url_for('.add_items') }}" method="post">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="mb-3">
                            <a id="form-add-field" class="btn btn-sm btn-outline-success" href="#">Добавить студента</a>
                        </div>
                    </div>
                    <div class="col d-flex flex-row-reverse">
                        <div class="mb-3">
                            <button class="btn btn-sm btn-outline-dark" type="submit">Сохранить все</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

<script>
let id = 0
const array =  {{ data|safe }}
const form = document.getElementById("students-form")

array.forEach(value => {
    const groupField = addFormGroup()
    const inputText = addInputField('', value, id++)
    const buttonDelete = addDeleteButton(form, groupField)

    groupField.appendChild(inputText)
    groupField.appendChild(buttonDelete)
    form.appendChild(groupField)
})

document.getElementById("form-add-field").onclick = () => {
    const group = addFormGroup()
    const inputText = addInputField('Введите имя студента', '', id++)
    const buttonDelete = addDeleteButton(form, group)

    group.appendChild(inputText)
    group.appendChild(buttonDelete)
    form.appendChild(group)
}
</script>
{% endblock %}