{% extends 'dashboard/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row align-items-center">
        {{ header_name(header) }}
        <div class="col">
            <div class="btn-group d-flex justify-content-end">
                <a class="nav-link text-dark" href="#" id="form-add-field">Добавить</a>
                <a class="nav-link text-dark" data-bs-toggle="dropdown" href="#">
                    <span class="material-icons">more_vert</span>
                </a>
                <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                    <li><label class="nav-link text-dark sumbit-form" for="hidden-submit">Сохранить</label></li>
                    <li><a class="dropdown-item" href="#">Экспортировать</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-2 border-bottom">
        <form action="{{ url_for('.group_save', id=user.id)}}" id="students-form" method="post">
            <input id="hidden-submit" type="submit" value="submit"/>
        </form>
    </div>
</div>
<script>
    let id = 0
    const array =  {{ data|safe }}
    const form = document.getElementById("students-form")
    
    array.forEach(value => {
        const groupField = addFormGroup()
        const inputText = addInputField('', value, id++)
        const buttonDelete = addDeleteButton(form, groupField)
    
        groupField.appendChild(inputText)
        groupField.appendChild(buttonDelete)
        form.appendChild(groupField)
    })
    
    document.getElementById("form-add-field").onclick = () => {
        const group = addFormGroup()
        const inputText = addInputField('Введите имя студента', '', id++)
        const buttonDelete = addDeleteButton(form, group)
    
        group.appendChild(inputText)
        group.appendChild(buttonDelete)
        form.appendChild(group)
    }


</script>

<style>
    #hidden-submit {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    .sumbit-form {
        cursor: pointer;
    }


</style>
{% endblock %}