{% extends 'dashboard/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container mt-4">
    {{ header_name(header) }}
    <div class="row mt-2 border-bottom">
        <div class="col-md">
            <p>Аккаунт</p>
        </div>
        <div class="col-md mb-2">
            <form action="{{ url_for('.save_profile_settings', user_login=user.login) }}" method="post">
                <div class="mb-3">
                    <label class="form-label" for="user-name">Имя пользователя</label>
                    <input class="form-control form-control-sm" id="user-name" name="name" type="text"
                           value="{{ user.name }}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="user-login">Логин</label>
                    <input class="form-control form-control-sm" id="user-login" name="login"
                           type="text" value="{{ user.login }}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="user-password">Новый пароль</label>
                    <input class="form-control form-control-sm mb-2" id="user-password" name="password" type="password">
                    <input class="form-control form-control-sm" id="user-confirm" name="password-confirm"
                           type="password">
                </div>
                <div class="mb-3">
                    <button class="btn btn-sm btn-outline-success" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-2 border-bottom">
        <div class="col-md">
            <p>Профессиональные</p>
            <small class="text-muted">Проф. настройки ориентированны на обеспечение целостной информации в
                экспортируемых данных для отчетов.</small>
        </div>
        <div class="col-md mb-2">
            <form action="{{ url_for('.save_proff_settings', user_login=user.login) }}" method="post">
                <div class="mb-3">
                    <label class="form-label" for="group-id">Название группы</label>
                    <select class="form-select form-select-sm" id="group-id" name="group-id">
                        {% for i in groups %}
                        {% if user.group == i.id %}
                        <option selected value="{{ i.id }}">{{ i.name }}</option>
                        {% else %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endif %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="group-teacher">Классный руководитель</label>
                    <select class="form-select form-select-sm" id="group-teacher" name="group-teacher">
                        {% for i in teachers %}
                        {% if user.teacher == i.id %}
                        <option selected value="{{ i.id }}">{{ i.name }}</option>
                        {% else %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <button class="btn btn-sm btn-outline-success" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}