{% extends 'profile/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="h-100 d-flex justify-content-center align-items-center p-4">
    <div class="text-center">
        <p class="display-6">{{ header }}</p>
        <form class="form-auth" method="post">
            {{ form.csrf_token }}
            {{ form.login(class='form-control') }}
            {{ form.password(class='form-control') }}
            {{ form.submit(class='form-control btn btn-outline-primary mt-1') }}
        </form>
        <div class="mt-1 border-top">
            <p class="mt-2">У меня <a class="text-decoration-none" href="{{ url_for('.register') }}">нет</a> аккаунта.
            </p>
        </div>
    </div>
</div>
{% endblock %}