{% extends 'profile/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="form-auth">
    <div class="container  text-center">
        <p class="h3 mb-4 display-6 fw-bold">{{ header }}</p>
        <form class="row" method="post">
            {{ form.csrf_token }}
            {{ form.login(class='form-control') }}
            {{ form.password(class='form-control') }}
            {{ form.submit(class='form-control btn btn-dark mt-3') }}
        </form>
        <p class="text-center mt-2">Нет аккаунта? <a href="{{ url_for('.register') }}">создайте</a> его!</p>
    </div>
</div>
{% endblock %}