{% extends 'account/layout.html' %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<div class="form-auth">
    <div class="container">
        <h1 class="h3 mb-3 fw-normal text-center">Авторизуйтесь</h1>
        <form class="row" method="post">
            {{ form.csrf_token }}
            {{ form.email(class='form-control') }}
            {{ form.password(class='form-control') }}
            {{ form.submit(class='form-control btn btn-dark mt-3') }}
        </form>
        <p class="text-center mt-2">Нет аккаунта? <a href="{{ url_for('.register') }}">создайте</a> его!</p>
    </div>
</div>
{% endblock %}